In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [4]:
df = pd.read_csv('worldvalues-data.csv')
df.head()

/Users/mgbvox/anaconda3/envs/data_science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,5,6,7,8,9,10,11,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,46,47,48,49,50,51,52,53,54,55,62,63,64,65,66,67,68,69,70,71,77,84,85,86,87,88,89,90,91,92,93,94,95,96,97,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,122,123,124,125,126,127,144,145,146,147,148,149,150,162,163,167,168,169,170,171,177,178,179,180,181,182,183,184,185,190,191,192,193,194,195,196,197,198,199,206,207,208,217,218,234,239,244,245,246,264,281,282,283,295,296,298,302,303,304,305,308,309,310,311,312,313,314,315,316,321,322,323,327,332,335,337,346,347,348,349,351,352,353,436) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,V1,V2,V2A,V3,V4,V5,V6,V7,V8,V9,...,VOICE,WEIGHT4B,S001,S007,S018,S019,S021,S024,S025,COW
0,2010-2013,Algeria,Algeria,1,1,1,1,No answer,1,1,...,0.250,1.0,WVS,13761,0.833333,1.25,1206212014,Algeria (6),Algeria (2014),ALG Algeria
1,2010-2013,Algeria,Algeria,2,1,2,3,4,2,2,...,0.330,1.0,WVS,13762,0.833333,1.25,1206212014,Algeria (6),Algeria (2014),ALG Algeria
2,2010-2013,Algeria,Algeria,3,1,3,2,4,2,1,...,0.165,1.0,WVS,13763,0.833333,1.25,1206212014,Algeria (6),Algeria (2014),ALG Algeria
3,2010-2013,Algeria,Algeria,4,1,1,3,4,3,1,...,0.000,1.0,WVS,13764,0.833333,1.25,1206212014,Algeria (6),Algeria (2014),ALG Algeria
4,2010-2013,Algeria,Algeria,5,1,1,1,2,1,1,...,0.330,1.0,WVS,13765,0.833333,1.25,1206212014,Algeria (6),Algeria (2014),ALG Algeria

In [11]:
df['nnull'] = df.isnull().sum(axis=1)

In [13]:
df.groupby('V1').nnull.count()

V1
2010-2013    89565
Name: nnull, dtype: int64

In [14]:
df.V1.value_counts()

2010-2013    89565
Name: V1, dtype: int64