In [94]:
%pylab inline
import pandas as pd
from dateparser import parse

Populating the interactive namespace from numpy and matplotlib

In [ ]:
ex = pd.ExcelFile('WDImetadata.xlsx')
explainer = ex.parse('2010-2019 MetaData').set_index('Code')
def explain(c):
    global explainer
    return explainer.loc[c]['Long definition']

In [79]:
'''
Data Cleaning
'''

df = pd.read_excel('WDIdata3decades.xlsx')

'''
Find codes that exist in all three decades:
'''
decades = ['1990-1999 MetaData',
           '2000-2010 MetaData',
           '2010-2019 MetaData']
decade_codes = [set(ex.parse(d)['Code']) for d in decades]

decade_count = df.groupby('Custom_Time_Code').apply(lambda x: pd.notnull(x).sum(0))

not_null_thresh = 20
preserved = ((decade_count > not_null_thresh).sum() == decade_count.shape[0])
data = df.T[preserved].T

data.Custom_Time_Code.apply(lambda x: parse(x[:4]))

In [80]:
data

,Custom_Time_Code,Country Code,EG.ELC.ACCS.ZS,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,SE.PRM.TENR,SE.PRM.TENR.FE,SE.PRM.TENR.MA,NY.ADJ.NNTY.KD.ZG,NY.ADJ.NNTY.KD,...,SL.EMP.VULN.FE.ZS,SL.EMP.VULN.MA.ZS,SL.EMP.VULN.ZS,SL.EMP.WORK.FE.ZS,SL.EMP.WORK.MA.ZS,SL.EMP.WORK.ZS,SP.DYN.WFRT,SP.M15.2024.FE.ZS,SP.M18.2024.FE.ZS,SH.DYN.AIDS.FE.ZS
0,1990s,AFG,NaN,NaN,NaN,26.766,13.6976,38.795,NaN,NaN,...,96.7562,88.6749,91.3408,3.13544,10.6737,8.18711,NaN,NaN,NaN,25.8
1,1990s,AGO,NaN,NaN,NaN,45.3467,41.9692,48.7626,NaN,NaN,...,77.2227,47.2864,61.7378,20.6776,47.027,34.3074,NaN,NaN,NaN,63.07
2,1990s,BDI,3.32994,NaN,55.5875,49.0612,45.1734,52.9426,8.57665,8.41064e+08,...,97.1493,91.8253,94.6371,2.816,8.06222,5.29178,NaN,NaN,NaN,53.68
3,1990s,BEN,17.1799,3.09088,40.5923,53.5575,38.2569,68.6423,3.90143,3.25209e+09,...,96.2003,87.1644,91.096,3.36889,11.1393,7.75867,5,7.8,38.8,52.57
4,1990s,BFA,6.54537,0.943943,35.8436,30.788,24.5484,36.8386,4.37427,3.23466e+09,...,96.336,91.2381,93.6489,3.32067,7.64178,5.59878,5.75,8.75,62,47.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,2010s,VNM,99.5299,99.3383,99.9501,98.9353,NaN,NaN,9.67146,1.21042e+11,...,65.3523,53.0591,58.9892,33.0886,43.4766,38.4656,NaN,0.9,9.95,31
233,2010s,VUT,44.8763,30.5789,88.2779,92.1477,92.5491,91.7772,3.96944,6.5589e+08,...,75.3952,67.5374,70.9514,23.5516,30.6521,27.567,NaN,2.5,21.4,NaN
234,2010s,YEM,71.7427,58.6322,97.554,84.5019,77.331,91.4015,NaN,2.32922e+10,...,64.867,41.823,43.6754,32.8193,50.7055,49.2667,3.1,9.4,32.1,25.2
235,2010s,ZMB,29.7822,6.39734,63.1047,87.9589,89.1181,86.8087,NaN,1.35942e+10,...,88.4687,69.7532,78.7098,11.3031,29.8968,20.9986,4.5,5.9,31.4,59.0778
236,2010s,ZWE,38.2127,15.8692,84.331,94.6112,NaN,NaN,6.01236,1.22453e+10,...,75.471,56.0806,65.5477,24.2205,43.2733,33.9711,3.55,3.8,32.1333,59.4667

In [99]:
explain('NY.ADJ.NNTY.KD')

'Adjusted net national income is GNI minus consumption of fixed capital and natural resources depletion.'

In [102]:
data[data['Country Code']=='USA']

,Custom_Time_Code,Country Code,EG.ELC.ACCS.ZS,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,SE.PRM.TENR,SE.PRM.TENR.FE,SE.PRM.TENR.MA,NY.ADJ.NNTY.KD.ZG,NY.ADJ.NNTY.KD,...,SL.EMP.VULN.FE.ZS,SL.EMP.VULN.MA.ZS,SL.EMP.VULN.ZS,SL.EMP.WORK.FE.ZS,SL.EMP.WORK.MA.ZS,SL.EMP.WORK.ZS,SP.DYN.WFRT,SP.M15.2024.FE.ZS,SP.M18.2024.FE.ZS,SH.DYN.AIDS.FE.ZS
72,1990s,USA,100,100,100,97.3845,97.5423,97.234,3.52104,8.70082e+12,...,4.34478,5.60278,5.03533,93.3649,90.027,91.5322,NaN,NaN,NaN,NaN
151,2000s,USA,100,100,100,98.5781,98.7026,98.1999,1.59212,1.18916e+13,...,3.8415,4.8704,4.398,94.0405,91.4237,92.6249,NaN,NaN,NaN,NaN
230,2010s,USA,100,100,100,97.5206,97.5436,97.4986,2.66491,1.39244e+13,...,3.4324,4.2991,3.8994,94.6312,92.5103,93.4884,NaN,NaN,NaN,NaN

In [107]:
!pip install dateparser

Collecting dateparser
  Downloading dateparser-0.7.4-py2.py3-none-any.whl (353 kB)
     |████████████████████████████████| 353 kB 491 kB/s eta 0:00:01
Collecting tzlocal
  Using cached tzlocal-2.0.0-py2.py3-none-any.whl (15 kB)
Processing /Users/mgbvox/Library/Caches/pip/wheels/e6/9b/ae/2972da29cc7759b71dee015813b7c6931917d6a51e64ed5e79/regex-2020.4.4-cp37-cp37m-macosx_10_9_x86_64.whl
Requirement already satisfied: python-dateutil in /Users/mgbvox/opt/anaconda3/envs/ds/lib/python3.7/site-packages (from dateparser) (2.8.1)
Requirement already satisfied: pytz in /Users/mgbvox/opt/anaconda3/envs/ds/lib/python3.7/site-packages (from dateparser) (2019.3)
Requirement already satisfied: six>=1.5 in /Users/mgbvox/opt/anaconda3/envs/ds/lib/python3.7/site-packages (from python-dateutil->dateparser) (1.14.0)
Installing collected packages: tzlocal, regex, dateparser
Successfully installed dateparser-0.7.4 regex-2020.4.4 tzlocal-2.0.0

0     1990-04-14
1     1990-04-14
2     1990-04-14
3     1990-04-14
4     1990-04-14
         ...
232   2010-04-14
233   2010-04-14
234   2010-04-14
235   2010-04-14
236   2010-04-14
Name: Custom_Time_Code, Length: 237, dtype: datetime64[ns]